{% extends 'accounts/main.html'%}
{% load static%}
{% block content %}


<div class="row">
  <div class="col-md-8">
    <div class=card card-body">
       <form class="" action="" method="post">{% csrf_token %}
         <div class='jumbotron'>
           {{ form.management_form }}

            {{formset.as_p}} <br>


        <br>
        <!-- four lines extra  18 19 21 -->
    <!--    <form>
        {{form}} -->
        <input class="btn btn-sm btn-success" type="submit" value="submit">
    <!--    <form> -->
         </div>
        </form>
      </div>
    </div>
  </div>


{% endblock %}
